/* work sans google font */
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans:wght@400;500&family=Work+Sans:wght@400;500;600;700;800&display=swap");

/* shared styles */
* {
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Work Sans", sans-serif;
}

.gamer-title {
  font-size: 2.8rem;
  font-weight: 700;
  color: #0b0223;
}

.span-title {
  color: #ff42a5;
}

.main-title {
  font-size: 2.8rem;
  font-weight: 600;
  color: #0b0223;
}

.btn-primary {
  border-radius: 48px;
  border: 0;
  background: #ff42a5;
  color: #fff;
  font-size: 1.25rem;
  padding: 20px 30px;
  cursor: pointer;
  text-transform: uppercase;
}

.btn-rogue {
  border-radius: 48px;
  border: 0;
  background: #4ec5f7;
  color: #fff;
  font-size: 1.25rem;
  padding: 20px 30px;
  cursor: pointer;
  margin-left: 10px;
  text-transform: uppercase;
}

.text-light-gray {
  color: #727272;
}

/* header stylings */
header {
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
  padding: 44px 240px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .nav-icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
}

nav > ul {
  display: flex;
  align-items: center;
}

nav li {
  list-style: none;
  margin-right: 35px;
  font-size: 1rem;
  font-weight: 500;
}

nav li a {
  text-decoration: none;
  color: #3c354f;
}

.follow {
  border-radius: 8px;
  border: 0px solid;
  background: rgba(11, 2, 35, 0.1);
  width: 250px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.follow img {
  width: 20px;
  margin-right: 15px;
  cursor: pointer;
}

/* main parts */
main {
  max-width: 1400px;
  margin: 70px auto;
}

/* goat section */

.goat-container {
  display: flex;
  align-items: center;
}

.goat-content {
  padding-left: 100px;
  padding-right: 120px;
}

.goat-title {
  text-align: center;
  font-size: 5.8rem;
  font-weight: 800;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.instant p {
  color: #534c64;
  font-size: 1.05rem;
  font-weight: 500;
  align-items: center;
}

.goat-container .instant {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  margin-bottom: 10px;
}

.goat-container-img {
  width: 100%;
}

/* we are gamer container */
.gamer-container {
  display: flex;
  align-items: center;
  margin-top: 100px;
}

.gamer-content {
  text-align: right;
}
.gamer-title {
  font-size: 2.5rem;
  font-weight: 700;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gamer-desc {
  color: #534c64;
  font-size: 1.1rem;
  font-weight: 400;
}

.gamer-container h4 {
  color: #534c64;
  font-size: 20px;
  font-weight: 500;
}

.gamer-content .unleash-span {
  color: #534c64;
  font-size: 25px;
  font-weight: 700;
}

.gamer-img-container img {
  height: 90%;
  /* margin-left: 120px; */
}

/* funny videos container */
.fv-container {
  margin-top: 100px;
}
.fv-content {
  text-align: center;
  margin-bottom: 40px;
}

.fv-content h1 {
  color: #0b0223;
  font-family: Work Sans;
  font-size: 2.8rem;
  font-weight: 700;
}

.fv-content .fv-span {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.8rem;
  font-weight: 700;
}

.fv-content p {
  color: #534c64;
  font-family: Work Sans;
  font-size: 1.1rem;
  font-weight: 400;
}

.fv-img-container {
  display: flex;
}
.fv-img-content {
  flex-direction: column;
  margin-right: 10px;
  position: relative;
  display: inline-block;
}

.play-icon {
  position: absolute;
  top: 45%;
  left: 45%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  background-image: url("../icons/play2.svg");
  background-size: cover;
  display: none;
}

.fv-img-content:hover .play-icon {
  display: block;
}
.fv-img-content:hover {
  opacity: 0.5;
}

.fv-img-content p {
  align-items: flex-start;
  font-size: 1.1rem;
}

/* play instantly section */
.playinstant-container {
  margin-top: 100px;
  display: flex;
}

.pi-content {
  padding-left: 70px;
  padding-right: 70px;
  margin-top: 100px;
}

.pi-title {
  font-size: 2.8rem;
}

.pi-title .dl {
  color: #0b0223;
  font-weight: 700;
}

.pi-another-img img {
  border-radius: 8px;
  border: 10px solid #fff;
  position: relative;
  bottom: 250px;
  right: 150px;
}

.games-container {
  margin-top: 100px;
  display: flex;
  align-items: center;
}

.card {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  border-radius: 60px;
  border: 0 solid;
  background: #fff;
  margin-left: 60px;
}

.card-container {
  display: flex;
  text-align: center;
}

.card-container img {
  justify-content: flex-start;
}

.card-container p {
  margin-left: 10px;
  align-items: center;
}

/* responsive for mobile screens */

@media screen and (max-width: 576px) {
  nav,
  .goat-container,
  .gamer-container,
  .fv-img-container,
  .playinstant-container {
    flex-direction: column;
  }
  nav > ul {
    flex-direction: column;
  }
  nav li {
    margin: 10px;
  }
  .goat-container-img img {
    width: 90%;
  }
  .gamer-img-container img {
    width: 90%;
    margin-left: 0;
  }
  .gamer-content {
    text-align: center;
    width: 90%;
  }
  .fv-img-container img {
    width: 90%;
    margin-left: 0;
  }
  .fv-img-content p {
    font-size: 10px;
  }
}
